@media background {

}
@font-face {
  font-family: Source Code Pro;
  src: url("Source Code Pro.ttf");
}

::selection{
  background: white;
  color: black;
}
body{

  /* background-image: url("blurBackground.jpeg");
  background-repeat: no-repeat;
  background-size: auto; */

  background-color: navajowhite;




}
.topA{
  background-color: peru;
  display: flex;
  justify-content: center;
}


.topB{
  background-color: darksalmon;
  display: flex;
  justify-content: center;

}

.topC{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;

}


.logoTitle{

  font-family: Bernard MT, Arial;
  font-size: 28px;
  text-align: center;
  font-weight: bolder;
  border-style: solid;
  border-width: 5px;
  background-color: white


}

.logoTitle:hover{
  color:darksalmon;
  border-color: white;
  background-color: black;

}

.logoTitle::selection{

  color:darksalmon;

}

.logoTitle:active{

  color:peru;
}

.announcement{

  font-family: Source Code Pro, monospace;
  font-size: 10px;
  font-weight: 100;
  padding: 10px;
  font-weight: lighter;

}
.announcement:hover{

  color: white;

}

.menu{


  font-style: normal;
  background-color: black;
  width: 300px;
  height: 200px;
  margin-top: 25px;
  margin-left: 25px;
}

#mainButton{

  display: block;
  align-content: center;
  font-size: 20px;
  font-family: Source Code Pro, monospace;
  font-style: normal;
  background-color: black;
  color: white;
  border-color: black;
  width: 280px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;


}

#mainButton:hover{
  background-color: white;
  color: black;

}



.image{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;

}
.imageTwo{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;
}
.imageThree{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;

}

.imageFour{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;
}
.imageFive{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;
}
.imageSix{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;
}
.imageSeven{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;
}
.imageEight{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;
}
.imageNine{

  margin-left: 25px;
  margin-top: 25px;
  border-style: bold;
}

#image_properties{

  height: 200px;


}



.body{


  font-family: Source Code Pro;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;

  background-color: darksalmon;

  padding: 10px;



}
