@media background {

}

/* body{
  background-image: url("blurBackground.jpeg");
  background-repeat: no-repeat;
  background-size: auto;

} */
.topA{
  display: flex;
  justify-content: center;
}

.topB{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
}
.logoTitle{


  width: 200px;
  height: auto;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  border-style: solid;
  text-align: center;
  border-width: thick;



}

.menu{

  font-style: normal;
  background-color: black;
  width: 300px;
  height: 250px;
}

#mainButton{

  display: block;
  align-content: center;
  font-size: 20px;
  font-family: Arial;
  font-style: normal;
  background-color: black;
  color: white;
  border-color: black;
  width: 280px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;


}

#mainButton:hover{
  background-color: white;
  color: black;

}

.body{


  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 50px;


}

.image{

  padding-right: 10px;
  margin-left: 25px;
  width: 200px;

}

#image_properties{
  width: 200px;
  height: 200px;


}
